@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px 5px;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #ec9706;
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}